@import "node_modules/bootstrap/scss/bootstrap";

.picture {
    background-image: url(../pzak-web/resources/img/bgggg-Recovered.png);
    background-position: center;
    background-size: cover;
    height: 80vh;
}